---
import {
	formatDescription,
	getGame,
	getGameUrl,
	I_HAVE_NO_MOUTH_AND_I_MUST_SCREAM_ID,
} from "@/services/steam";
import { isBot } from "@/utils";

const { id } = Astro.params;

if (!id) {
	return Astro.redirect(getGameUrl("404"), 302);
}

// const userAgent = Astro.request.headers.get("user-agent") ?? "";
// // If it's a real user, redirect to the Steam page
// if (!isBot(userAgent)) {
// 	return Astro.redirect(getGameUrl(id), 302);
// }

const [err, steamGame] = await getGame(id);
if (err != null) {
	console.error(err);
	return Astro.redirect(getGameUrl(I_HAVE_NO_MOUTH_AND_I_MUST_SCREAM_ID), 302);
}

const formattedDescription = await formatDescription(steamGame);
---

<html lang="es">
	<head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{steamGame.title}</title>
		<meta name="description" content={formattedDescription}>
		<meta property="og:url" content={getGameUrl(steamGame.id)}>
		<meta property="og:title" content={steamGame.title}>
		<meta property="og:description" content={formattedDescription}>

		<!-- Images -->
		<meta property="og:image" content={steamGame.imagesUrl[0]}>
		<meta property="og:image:secure_url" content={steamGame.imagesUrl[0]}>
		<meta property="og:image:type" content="image/jpg">
		<meta property="og:image:width" content="460">
		<meta property="og:image:height" content="215">

		<!-- Videos -->
		{steamGame.videosUrl && steamGame.videosUrl?.length > 0
				? <>
						<meta property="og:video" content={steamGame.videosUrl[0]} />
						<meta property="og:video:secure_url" content={steamGame.videosUrl[0]} />
						<meta property="og:video:type" content="video/mp4" />
						<meta property="og:video:width" content="1280" />
						<meta property="og:video:height" content="720" />
						<meta property="og:type" content="video" />

						<meta name="twitter:card" content="player">
						<meta name="twitter:player" content={steamGame.videosUrl[0]}>
						<meta name="twitter:player:width" content="1280">
						<meta name="twitter:player:height" content="720">
				</>
				: <>
						<meta name="twitter:card" content="summary_large_image">
				</>
		}

		<!-- Game Info -->
		<meta name="twitter:title" content={steamGame.title}>
		<meta name="twitter:description" content={formattedDescription}>
		<meta property="twitter:domain" content="store.steampowered">
		<meta property="twitter:url" content={getGameUrl(steamGame.id)}>
		<meta name="twitter:image" content={steamGame.imagesUrl[0]}>

		<!-- Additional metadata -->
		<meta property="og:author" content={steamGame.developer}>
		<meta property="og:provider" content="Steam Store">
		<meta property="game:price" content={steamGame.price?.value ?? "Free"}>
		<meta property="game:currency" content="USD">
		<meta property="game:rating" content={steamGame.reviews || 'N/A'}>


		<style>
			body {
        margin: 0;
        background-color: #1b2838;
        font-family: Arial, sans-serif;
      }
      .steam-header {
        width: 100vw;
        height: 94px;
        background-color: #171d25;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        color: white;
      }
		</style>
  </head>
  <body>
		<div class="steam-header"></div>
  </body>
</html>